<!-- lista productos -->
<!-- <div class="inicio">
    <div class="inicioContainer">
        <span id="destacado">HOME</span>
        <hr style="border: 1px solid black; width: 1000px; margin-bottom: 70px;" />
        <div class="container" *ngFor="let product of productList">
            <div class="card">
                <div class="elements">
                    <img id="image" src="../../../../assets/destacado.png" alt="">
                    <div class="data">
                        <span id="tituloCard">{{ product.title }}</span>
                        <span id="descriptionCard">{{ product.description }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngFor="let product of elementList">
            <div class="card">
                <div class="elements">
                    <img id="image" src="../../../../assets/destacado.png" alt="">
                    <div class="data">
                        <span id="tituloCard">{{ product.title }}</span>
                        <span id="descriptionCard">{{ product.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="slider-images">
    <img src="../../../../assets/mercado-libre/mercado-libre-1.png" alt="Foto Mercado Libre">
    <img src="../../../../assets/mercado-libre/mercado-libre-2.png" alt="Foto Mercado Libre">
    <img src="../../../../assets/mercado-libre/mercado-libre-3.png" alt="Foto Mercado Libre">
    <div></div>
</div>

<div class="card-payment">
    <i class="fas fa-credit-card"></i>
    <div class="text-card">
        <span class="cuotes">Hasta 6 cuotas sin interés</span>
        <span class="promo">Ver promociones bancarias</span>
    </div>
</div>

<div class="views">
    <div class="card-views-container">
        <div class="card-title">
            <p>OFERTAS</p>
            <hr>
        </div>
        <div class="card-image">
            <img src="../../../../assets/mercado-libre/mercado-point.jpg" alt="Mercado Point">
        </div>
        <div class="card-description">
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price">$189 <small>68% OFF</small> </p>
            <p id="coutas">6 x $31,50 sin interes</p>
            <p id="envio">Envio gratis</p>
        </div>
    </div>
</div>

<div class="tecnology">
    <div class="card-title-tecnology">
        <p>COMPUTACION</p>
        <hr>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/pc-mercado-libre.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/pc-mercado-libre.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/pc-mercado-libre.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
        </div>
    </div>
    <div class="card-tecnology-footer">
        <hr>
        <a href="/computacion">Ver mas productos relacionados <i class="fas fa-mouse-pointer"></i></a>
    </div>
</div>

<div class="tecnology">
    <div class="card-title-tecnology">
        <p>ELECTRODOMESTICOS</p>
        <hr>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
        </div>
    </div>
    <div class="card-tecnology-footer">
        <hr>
        <a href="/electrodomesticos">Ver mas productos relacionados <i class="fas fa-mouse-pointer"></i></a>
    </div>
</div>