<div class="slider-images">
    <img src="../../../../assets/mercado-libre/mercado-libre-1.png" alt="Foto Mercado Libre">
    <img src="../../../../assets/mercado-libre/mercado-libre-2.png" alt="Foto Mercado Libre">
    <img src="../../../../assets/mercado-libre/mercado-libre-3.png" alt="Foto Mercado Libre">
    <img src="../../../../assets/mercado-libre/mercado-libre-14.png" alt="">
    <div></div>
</div>

<div class="card-payment">
    <i class="fas fa-credit-card"></i>
    <div class="text-card">
        <span class="cuotes">Hasta 6 cuotas sin interés</span>
        <span class="promo">Ver promociones bancarias</span>
    </div>
</div>

<div class="card-title">
    <p>¡OFERTAS DEL DIA!</p>
</div>
<div class="views">
    <div class="card-views-container">
        <div class="card-image">
            <img src="../../../../assets/mercado-libre/mercado-point.jpg" alt="Mercado Point">
        </div>
        <div class="card-description">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price">$189 <small>68% OFF</small> </p>
            <p id="coutas">6 x $31,50 sin interes</p>
            <p id="envio">Envio gratis</p>
        </div>
    </div>
    <div class="card-views-container">
        <div class="card-image">
            <img src="../../../../assets/mercado-libre/mercado-point.jpg" alt="Mercado Point">
        </div>
        <div class="card-description">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price">$189 <small>68% OFF</small> </p>
            <p id="coutas">6 x $31,50 sin interes</p>
            <p id="envio">Envio gratis</p>
        </div>
    </div>
    <div class="card-views-container">
        <div class="card-image">
            <img src="../../../../assets/mercado-libre/mercado-point.jpg" alt="Mercado Point">
        </div>
        <div class="card-description">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price">$189 <small>68% OFF</small> </p>
            <p id="coutas">6 x $31,50 sin interes</p>
            <p id="envio">Envio gratis</p>
        </div>
    </div>
    <div class="card-views-container">
        <div class="card-image">
            <img src="../../../../assets/mercado-libre/mercado-point.jpg" alt="Mercado Point">
        </div>
        <div class="card-description">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price">$189 <small>68% OFF</small> </p>
            <p id="coutas">6 x $31,50 sin interes</p>
            <p id="envio">Envio gratis</p>
        </div>
    </div>
</div>

<div class="card-title-tecnology">
    <p>COMPUTACION</p>
    <a href="/computacion">Ver todos <i class="fas fa-mouse-pointer"></i></a>
</div>
<div class="tecnology">
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/pc-mercado-libre.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/pc-mercado-libre.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/pc-mercado-libre.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/pc-mercado-libre.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/pc-mercado-libre.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
</div>

<div class="card-title-tecnology">
    <p>ELECTRODOMESTICOS</p>
    <a href="/electrodomesticos">Ver todos <i class="fas fa-mouse-pointer"></i></a>
</div>
<div class="tecnology">
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
    <div class="card-tecnology-container">
        <div class="card-image-tecnology">
            <img src="../../../../assets/mercado-libre/electrodomestico.jpg" alt="Mercado Point">
        </div>
        <div class="card-description-tecnology">
            <button>OFERTA DEL DIA</button>
            <p>Mercado Pago Point Mpos + Codigo Qr</p>
            <p id="price-tecnology">$1200</p>
            <p id="coutas">6 x $200 sin interes</p>
        </div>
    </div>
</div>

    <div class="sections">
        <a href="/computacion">
            <div class="section-computacion">
                <i class="fas fa-desktop"></i>
                <p>Computacion</p>
            </div>
        </a>
        <a href="/electrodomesticos">
            <div class="section-electrodomesticos">
                <i class="fas fa-bath"></i>
                <p>Electrodomesticos</p>
            </div>
        </a>
    </div>