  .product-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      padding: 10px;
      margin-bottom: 40px;
      cursor: pointer;
  }

  .product-container p {
    font-weight: 100;
  }

  .form {
    text-align: center;
    margin-bottom: 40px;
  }

  .title-form h1 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 0%;
  }

  .titleProduct input {
    border: none;
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .descriptionProduct input {
    border: none;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
  }

  .button button {
    border: none;
    background-color: white;
    padding: 20px;
    margin: 0 10px;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .card-products {
    width: 80%;
    height: 580px;
    max-width: 300px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px;
  }

  .card-image img {
    width: 100%;
    border-radius: 5px;
  }

  .card-title p {
    padding: 0 10px;
    font-size: 1.2rem;
  }

  .card-description p {
    font-size: 0.8rem;
    padding: 0 10px;
    height: 120px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .buttons span {
    font-size: 0.8rem;
    font-weight: 300;
    color: #2e98d1;
    cursor: pointer;
  }

  @media screen and (min-width: 650px) {
    .card-container {
      flex-direction: row;
    }
  }

  @media screen and (max-width: 350px) {
    .card-products {
      height: 560px;
    }
  }
  