// formulario crear producto
.containerForms {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.button {
  display: flex;
  justify-content: center;
}
.descriptionProduct {
  margin: 10px 0;
}
#title {
  padding: 15px;
  width: 500px;
  border-radius: 50px;
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
}
#key {
  padding: 15px;
  width: 500px;
  border-radius: 50px;
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
}
#description {
  padding: 15px;
  width: 500px;
  border-radius: 50px;
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
}
#addProduct {
  width: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
  font-family: "Fresca", sans-serif;
  font-size: 20px;
}
#addProduct:hover {
  background-color: #c4c4c4;
  border: 2px solid #c4c4c4;
  cursor: pointer;
}
#product {
  text-align: center;
}

//Button new product
#add {
  padding: 15px;
  width: 250px;
  background-color: #009e1a;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Fresca", sans-serif;
  color: white;
}
#add:hover {
  background-color: #00c120;
  cursor: pointer;
}

// lista productos

.inicio {
  display: flex;
  justify-content: center;
}
.inicioContainer {
  margin-top: 40px;
  margin-bottom: 70px;
  width: 1000px;
}
.card {
  width: 400px;
  height: auto;
  padding: 20px;
  background-color: #e5e5e5;
  text-align: center;
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 50px;
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
}
#image {
  width: 170px;
  height: 100px;
  margin-bottom: 10px;

}
#destacado {
  font-size: 40px;
}
#tituloCard {
  font-size: 25px;
  text-align: center;
}
#descriptionCard {
  display: block;
  font-size: 15px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
#edit {
  padding: 10px;
  background-color: #000a95;
  border: none;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}
#edit:hover {
  background-color: #010fe3;
  cursor: pointer;
}
#delete {
  padding: 10px;
  background-color: #b10000;
  border-radius: 5px;
  border: none;
  color: white;
}
#delete:hover {
  background-color: #f30000;
  cursor: pointer;
}
