    <div class="front-login"></div>
    <div class="backgound"></div>
    <div class="loginContainer">
      <form (ngSubmit)="onSubmit()">
        <div class="sesion">
          <p id="login">¡Hola! Ingresa tu e-mail y contraseña</p>
        </div>
        <div class="user">
          <div [formGroup]="loginGroup">
            <input
              type="email"
              placeholder="Email"
              formControlName="email"
              required
              autofocus
            />
          </div>
        </div>
        <div class="password">
          <div [formGroup]="loginGroup">
            <input
              type="password"
              placeholder="Contraseña"
              formControlName="password"
              required
            />
          </div>
        </div>
        <div class="button">
          <button type="submit" [disabled]="!loginGroup.valid">
            Iniciar Sesion
          </button>
        </div>
        <div class="button-register">
          <button><a href="/register">Crear cuenta</a></button>
        </div>
        <p id="alert" *ngIf='mensaje' >El usuario o contraseña no es correcto</p>
      </form>
    </div>