<!-- <div class="footer">
  <div class="footerContainer">
    <div class="navigation">
      <span id="title">Navegación</span>
      <hr style="color: #000000; border: 1px solid #000000" />
      <a href="/login" *ngIf="!isAuth()">Iniciar Sesión</a>
      <a href="/register" *ngIf="!isAuth()">Registrarse</a> -->
     
      <!-- if logged -->

      <!-- <a href="/register" *ngIf="isAuth()">Home</a>
      <a href="/register" *ngIf="isAuth()">Electrodomesticos</a>
      <a href="/login" *ngIf="isAuth()">Computacion</a>
    </div>
    <div class="social">
      <span id="titleRedes">Redes Sociales</span>
      <hr style="color: #000000; border: 1px solid #000000" />
      <a href="https://www.twitter.com/">Twitter</a>
      <a href="https://www.facebook.com/">Facebook</a>
      <a href="https://www.instagram.com/">Instagram</a>
    </div>
  </div>
</div> -->

<div class="footer-app">
  <div class="app-logo">
    <img src="../../../assets/mercado-libre-logo.png" alt="Mercado Libre Logo">
  </div>
  <div>
    <p>¡Comprá y vendé con la app!</p>
  </div>
</div>

<div class="footer-items">
  <div class="items-section">
    <p>Mi cuenta</p>
    <p>Historial</p>
    <p>Favoritos</p>
    <p>Categorias</p>
    <p>Ayuda</p>
  </div>
  <div class="items-section">
    <p>Mis compras</p>
    <p>Ofertas</p>
    <p>Tiendas Oficiales</p>
    <p>Mercado Puntos</p>
    <p>Vender</p>
  </div>
</div>

<div class="footer">
  <div class="footer-profile">
    <img src="../../../assets/user-profile.png" alt="Foto Perfil">
    <p>Lautaro</p>
  </div>
  <div class="footer-terms">
    <p>Terminos y condiciones</p> 
    <p>Como cuidamos tu privacidad</p>
    <p>Avisos legales</p>
  </div>
  <div class="mercado-libre">
    <p>1999-2020 MercadoLibre S.R.L</p>
  </div>
</div>