<div class="footer-app">
  <div class="app-logo">
    <img src="../../../assets/mercado-libre-logo.png" alt="Mercado Libre Logo">
  </div>
  <div>
    <p>¡Comprá y vendé con la app!</p>
  </div>
</div>

<div class="footer-items">
  <div class="items-section">
    <p>Mi cuenta</p>
    <p>Historial</p>
    <p>Favoritos</p>
    <p>Categorias</p>
    <p>Ayuda</p>
  </div>
  <div class="items-section">
    <p>Mis compras</p>
    <p>Ofertas</p>
    <p>Tiendas Oficiales</p>
    <p>Mercado Puntos</p>
    <p>Vender</p>
  </div>
</div>

<div class="footer">
  <div class="footer-terms">
    <p>Terminos y condiciones</p> 
    <p>Como cuidamos tu privacidad</p>
    <p>Avisos legales</p>
  </div>
  <div class="mercado-libre">
    <p>1999-2020 MercadoLibre S.R.L</p>
  </div>
</div>